API_ID=31169280
API_HASH=9749e39cf870c3ef500c297317bb300e
BOT_TOKEN=7995632643:AAGxrRupaSj0vpQOAcX5T11pwVk3e5Od8
LOGGER_ID=-1003639584506
MONGO_DB_URI=mongodb+srv://sudeeptelegram_db_user:yuki742123@sudeepmusic.gcdu9h0.mongodb.net/sezukuu_public?retryWrites=true&w=majority
OWNER_ID=6356015122
STRING_SESSION=AQHbmwAASMMu94bzZA4iFwCcBQ2HW4hhZ_7ZcZ4ZYEmimSOJ8m1m1CpSjCp_oA3xhx-d4CfHZJcWwCo5JUN31D6fjMwfo0n7VEdqjDDEzrx8h2wvIbq7tZfyvxxUZIq-02OYXC-UbXEoUaytG05dpg1zsQ9yuhy23yfRza8_4wN1efWL830MCpl8mHXF6iL5ozLxc79vyfse1PHezElZ0UMC0Ovcvbm_70CskUoOAoqGBy0BeMimJ6NblEjrSprDuyPP7zDc-iK_53J9kWUQrEZEOulGHuPv331vWHInokTFs016U8IDslvdWE-69pykdrydhEDN-193-nWHhKyKzeTCau6PRgAAAAH1oj2IAA
GIT_TOKEN=
